/*----- Normalize.css Start -----*/
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,html [type="button"],/* 1 */
[type="reset"],[type="submit"] {
  -webkit-appearance: button;
  outline: 0;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,/* 1 */
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.m--24{
  margin:0 -24px;
}
/*----- Normalize.css End -----*/

// font css start
@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Regular.eot");
  src: url("/src/assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("/src/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("/src/assets/fonts/Montserrat-Regular.ttf") format("truetype"),
    url("/src/assets/fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Light.eot");
  src: url("/src/assets/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("/src/assets/fonts/Montserrat-Light.woff2") format("woff2"),
    url("/src/assets/fonts/Montserrat-Light.woff") format("woff"),
    url("/src/assets/fonts/Montserrat-Light.ttf") format("truetype"),
    url("/src/assets/fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Medium.eot");
  src: url("/src/assets/fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("/src/assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("/src/assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("/src/assets/fonts/Montserrat-Medium.ttf") format("truetype"),
    url("/src/assets/fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-SemiBold.eot");
  src: url("/src/assets/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/src/assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("/src/assets/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("/src/assets/fonts/Montserrat-SemiBold.ttf") format("truetype"),
    url("/src/assets/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
// font css end
/* General Resets */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
select,
input,
option,
textarea,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%; /* list-style:none;*/
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #919191;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
  background: #fff;
  background: #f7fafc;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
  outline: none;
}
:focus {
  outline: 0 none;
}
button,
optgroup,
select,
textarea,
input {
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
}
textarea {
  resize: vertical;
}
img {
  max-width: 100%;
}
a {
  color: #62d203;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  display: inline;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: #333333;
} /* Remove top margin from headers */
h1 {
  font-size: 60px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}
h3 {
  font-size: 31px;
  color: #000000;
}
h4 {
  font-size: 18px;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  color: #0a80f5;
  font-weight: 600;
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 15px;
  font-weight: 400;
  line-height: 1.4;
}
a[href*="tel"],
a[href*="mailto"] {
}

.clearfix {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

/* General Classes */
.form-control {
}
.form-control::-webkit-input-placeholder {
  color: #333333;
  opacity: 0.3;
  font-weight: 300;
} /* WebKit browsers */
.form-control::-webkit-textarea-placeholder {
  color: #333333;
  opacity: 0.4;
  font-weight: 300;
} /* WebKit browsers */
.form-control:-moz-placeholder {
  color: #333333;
  opacity: 0.4;
  font-weight: 300;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: #333333;
  opacity: 0.4;
  font-weight: 300;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #333333;
  opacity: 0.4;
  font-weight: 300;
} /* Internet Explorer 10+ */
.form-control:focus {
  background-color: #fff;
  border-color: #62d203;
  box-shadow: 0px 0px 6px #0000001a;
  outline: 0;
  box-shadow: none;
}
.form-control {
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid #dddfe1;
  border-radius: 0;
  padding: 0.375rem 0.95rem;
  // height: calc(1.5em + .75rem + 2px);
  height: 40px;
  font-size: 14px;
  color: #919191;
}

.form-control:focus {
  background-color: #fff;
  border-color: #dddfe1;
  outline: 0;
  box-shadow: none;
}
.no-margin {
  margin: 0 !important;
}

.form-group {
  margin-bottom: 2px !important;
}
label {
  color: #919191;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  font-size: 15px !important;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  color: #62d203;
  padding: 8px 25px;
  text-align: center;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #62d203;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  @media (max-width: 1700px) {
    font-size: 14px;
    padding: 6px 20px;
  }
  @media (max-width: 1360px) {
    font-size: 13px;
    // padding: 6px 20px !important;
  }
}
.btn-primary:hover,
.btn-primary:focus {
  background: #62d203;
  color: white;
  box-shadow: 0px 10px 20px #62d2034d;
}
.btn-fill {
  border-color: #62d203;
  background: #62d203;
  color: #fff;
  &:hover,
  &:focus {
    opacity: 0.9;
  }
}
.btn-bordered {
  color: #fff;
  background: transparent;
}
.color-primary {
  color: #62d203;
}
.btn-delete {
  border-color: #919191;
  color: #919191;
  &:hover,
  &:focus {
    background: #919191;
    color: #fff;
    box-shadow: 0px 3px 10px #3333334d;
  }
}
.text-right {
  text-align: right;
}
.float-right {
  float: right;
}

.fluidity-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #abafb3;
}

.fluidity-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #dddfe1;
  border-radius: 3px;
}

.fluidity-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.fluidity-checkbox input:checked ~ .checkmark {
  background-color: #62d203;
  border-color: #62d203;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.fluidity-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.fluidity-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Login Page start here*/
.login-view {
  width: 100%;
  height: 100vh;
  position: relative;
  .login-inner {
    height: 100%;
    position: relative;
    background: white;
    &:after {
      content: "";
      position: absolute;
      top: 90px;
      display: block;
      height: 50px;
      background: #62d203;
      width: 50%;
      transform: rotate(-35deg);
      left: -110px;
      box-shadow: 0px 3px 6px #00000029;
      @media only screen and (max-width: 1280px) {
        width: 50%;
      }
      @media only screen and (max-width: 1024px) {
        width: 55%;
      }
      @media only screen and (max-width: 960px) {
        width: 62%;
      }
    }
    .login-col {
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
      width: 30%;
      box-shadow: 0px 10px 30px #0000001a;
      @media only screen and (max-width: 1280px) {
        width: 40%;
      }
      @media only screen and (max-width: 1024px) {
        width: 45%;
      }
      @media only screen and (max-width: 960px) {
        width: 50%;
      }
      .site-title {
        margin-top: 6.5rem;
        @media only screen and (max-width: 1280px) {
          margin-top: 5rem;
        }
        @media only screen and (max-width: 1024px) {
          margin-top: 4rem;
        }
      }
      .login-innner-col-wrap {
        position: relative;
        height: 100%;
        overflow: hidden;
        .login-form {
          width: 100%;
          padding: 2rem;
          margin-top: 17%;
          @media only screen and (max-width: 1280px) {
            margin-top: 10%;
          }
          @media only screen and (max-width: 1024px) {
            margin-top: 8%;
          }
          h4 {
            font-size: 22px;
            text-align: center;
            font-weight: 800;
            color: #62d203;
            text-transform: initial;
          }
          .fluidity-checkbox {
            font-size: 12px;
            padding-top: 1px;
            font-weight: normal;
          }
          .login-addon-action {
            margin-top: 10px;
            .forgot-pass {
              a {
                color: #abafb3;
                font-size: 12px;
              }
            }
          }
          .login-action-button {
            margin-top: 20px;
            .btn-primary {
              padding: 11.5px 25px !important;
              width: 50%;
              margin: 0 auto;
            }
          }
          .login-addon {
            text-align: center;
            color: #abafb3;
            margin-top: 25px;
            p {
              font-weight: 300;
            }
            span {
              padding-left: 4px;
              a {
                border-bottom: 1px solid #62d203;
                font-weight: 400;
              }
            }
          }
        }
        .login-footer {
          position: absolute;
          bottom: 0;
          right: 0;
          overflow: hidden;
          width: 100%;
          p {
            text-align: center;
            font-size: 14px;
            color: #333;
            font-family: "Quicksand", sans-serif;
            span {
              font-weight: 600;
            }
          }
        }
        .form-group {
          &.no-margin {
            margin-bottom: 0 !important;
          }
          margin-bottom: 20px !important;
        }
      }
    }
  }
}

.site-title {
  text-align: center;
  h1,
  a {
    font-size: 42px;
    color: #62d203;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
    span {
      color: #707070;
      font-weight: 300;
    }
  }
}

.app {
  &.collapsed-menu {
    width: 66px;
    overflow-x: hidden;
    .logo-lg {
      display: none;
    }
    .logo-sm {
      display: block;
    }
    li {
      span.nav-list {
        display: none;
      }
      .icon {
        width: 100%;
        padding-left: 0;
        text-align: center;
      }
      .submenu {
        overflow: hidden;
        height: 0;
      }
    }

    .caret {
      display: none;
    }
  }
}
.app-header,
.foo-App {
  &.expanded-area {
    margin-left: 66px !important;
    width: calc(100% - 66px);
  }
}
/*General page structure*/
.contentWrapper {
  margin-left: 245px;
  display: inline-block;
  width: calc(100% - 250px);
  padding: 0 12px 20px;
  height: calc(100vh - 66px);
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
  //   @media (max-width: 1360px) {
  //     padding: 0 20px 20px;
  //     padding-top: 0;
  //     margin-left: 260px;
  //     width: calc(100% - 260px);
  //   }
  &.expanded-area {
    margin-left: 66px !important;
    width: calc(100% - 66px);
  }
}
.content-wrapper {
  padding-top: 10px;
  //   @media (max-width: 1360px) {
  //     padding-top: 20px;
  //   }
}
.container-card {
  background: #ffffff;
  box-shadow: 0px 3px 15px #0000001a;
  //   padding: 25px 25px;
  //   min-height: 100%;
  .page-title {
    position: relative;
    padding: 13px 15px;
    clear: both;
    &:after,
    &:before {
      display: block;
      content: "";
    }
    &:after {
      clear: both;
    }
    .btn {
      margin-top: -6px;
      @media (max-width: 1700px) {
        margin-top: -5px;
      }
    }
    .btn-list {
      .btn {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    // @media (max-width: 1360px) {
    //   padding: 20px;
    // }
    &::after {
      position: absolute;
      content: " ";
      height: 1px;
      width: 100%;
      background: #dddfe1;
      bottom: 0;
      left: 0;
      //   border-bottom: 1px solid #DDDFE1;
    }
    h4 {
      color: #333333;
      font-size: 20px;
      font-weight: 500;
      display: inline-block;
      margin-bottom: 0;
      //   @media (max-width: 1700px) {
      //     font-size: 16px;
      //   }
      @media (max-width: 1360px) {
        font-size: 18px;
      }
    }
  }
}

.btn-list {
  list-style-type: none;
  margin: 0;
  li {
    display: inline-block;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.main-wrapper {
  padding: 15px;
}
.select-control-wrapper {
  width: 100%;
  margin-top: 15px;
  position: relative;
  &.table-select {
    margin-top: -5px;
    @media (max-width: 1700px) {
      margin-top: -4px;
    }
    @media (max-width: 1700px) {
      margin-top: -6px;
    }
  }
  &:after {
    position: absolute;
    content: "\f0d7";
    font-family: "fontawesome";
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
  }
  .form-control-select {
    padding-right: 25px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif !important;
    width: 100%;
    background: #fff;
    padding: 8px 25px 8px 15px;
    border-radius: 3px;
    border: 1px solid #919191;
    color: #333333;
    background: #fff;
    &:focus {
      border-radius: 3px;
      background: #fff !important;
      border-color: #62d203;
      box-shadow: 0px 0px 6px #0000001a;
      -webkit-box-shadow: 0px 0px 6px #0000001a;
      -moz-box-shadow: 0px 0px 6px #0000001a;
      -o-box-shadow: 0px 0px 6px #0000001a;
    }
    select {
    }
    &:before {
      display: none;
    }
  }
}
.mt-3 {
  margin-top: 10px;
}

.searchbar-border {
  position: relative;
  // margin-right: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
  @media (max-width: 1700px) {
    margin-top: -5px;
  }
  @media (max-width: 1360px) {
    margin-top: -6px;
  }
  .form-control {
    // background: #F6F6F6 0% 0% no-repeat padding-box;
    border-radius: 100px;
    width: 250px;
    height: auto;
    padding: 6px 40px 6px 10px;
    font-size: 14px;
    // border: transparent;
  }
  > span {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    right: 15px;
    transform: translateY(-50%);
  }
}

.calendar-element-grid {
  ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    li {
      display: inline-block;
      min-width: 52px;
      height: 52px;
      color: #62d203;
    }
  }
}

.custom-radio-listing {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin: 0 -5px;
  li {
    list-style-type: none;
    display: inline-flex;
    position: relative;
    flex-basis: 14.28%;
    padding: 0 5px;
    z-index: 0;
    margin-bottom: 10px;
    @media (max-width: 1700px) {
      flex-basis: 20%;
    }
    @media (max-width: 1400px) {
      flex-basis: 25%;
    }
    // @media (max-width: 1280px) {
    //   flex-basis: 16.6%;
    // }
    span {
      color: #4e4e5c;
      // font-weight: 500;
      background-color: #fff;
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
      display: block;
      border-radius: 3px;
      width: 100%;
      height: 100%;
      text-align: center;
      &:hover {
        color: #62d203;
        em {
          border: 1px solid #62d203;
          box-shadow: 0px 0px 20px #00000012;
        }
      }
      input[type="radio"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        cursor: pointer;
      }
      em {
        display: block;
        width: 100%;
        border: 1px solid #919191;
        font-style: normal;
        border-radius: 3px;
        padding: 20px;
        height: 100%;
      }
      input[type="checkbox"],
      input[type="radio"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 99;
      }
      [type="radio"]:checked + em {
        background: #fff;
        box-shadow: 0px 0px 20px #00000012;
        border: 1px solid #62d203;
      }
    }
  }
}

.medicaion-radio-listing {
  li {
    list-style-type: none;

    position: relative;
    margin: 0 5px;
    margin-bottom: 10px;
    span {
      color: #919191;
      font-size: 18px;
      font-family: "Quicksand", sans-serif;
      display: block;
      border-radius: 3px;
      width: 100%;
      height: 100%;
      text-align: center;
      input[type="radio"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        cursor: pointer;
      }
      em {
        display: block;
        width: 100%;
        border: 1px solid #919191;
        font-style: normal;
        border-radius: 3px;
        padding: 12px;
        height: 100%;
      }
      input[type="checkbox"],
      input[type="radio"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 99;
      }
      [type="radio"]:checked + em {
        box-shadow: 0px 0px 20px #00000012;
        background-color: #62d203;
        color: white;
        border-color: #62d203;
      }
    }
  }
  &.week-list {
    li {
      margin: 0 15px;
      margin-bottom: 15px;
      em {
        min-width: 130px;
      }
    }
  }
  &.day-list {
    text-align: left;
  }
}

// table css start
.App-table {
  width: 100%;
  overflow-x: auto;
}
.davita-table-view {
  &.overview-table {
    tbody {
      tr {
        td {
          min-width: 170px;
          @media (max-width: 1700px) {
            min-width: 145px;
          }
        }
      }
    }
  }
  &.insu-table {
    thead {
      tr {
        td {
          &:last-child {
            // text-align: right;
            @media (max-width: 1900px) {
              min-width: 244px;
            }
          }
        }
      }
    }
  }
  &.has-action-btn {
    thead {
      tr {
        td {
          &:last-child {
            // text-align: right;
            @media (max-width: 1700px) {
              min-width: 214px;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &:last-child {
            // text-align: right;
          }
        }
      }
    }
  }
  &.has-action-btn-3 {
    thead {
      tr {
        td {
          &:last-child {
            @media (max-width: 1700px) {
              min-width: 317px;
            }
          }
        }
      }
    }
  }
  &.only-view-action {
    tr {
      td:last-child {
        width: 160px;
      }
    }
  }
  &.has-table-cell-image {
    tbody {
      tr {
        td {
          padding: 8px 15px;
          @media (max-width: 1700px) {
            padding: 6px 10px;
          }
          div {
            cursor: pointer;
          }
          &:first-of-type {
            min-width: 80px;
            max-width: 80px;
            width: 80px;
            img {
              width: 38px;
              height: 38px;
              display: block;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  thead {
    tr {
      border-left: 1px solid #0000001a;
      border-right: 1px solid #0000001a;
      td {
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #333;
        padding: 9px 15px;
        border-top: 1px solid #0000001a;
        border-bottom: 1px solid #0000001a;
        white-space: nowrap;
        text-align: left;
        @media (max-width: 1700px) {
          font-size: 15px;
          padding: 9px 10px;
        }
      }
    }
  }
  tbody {
    tr {
      height: 50px;
      td {
        .task-name {
          cursor: pointer;
          &:hover {
            color: #62d203;
          }
        }
        text-align: left;
        font-family: "Montserrat", sans-serif;
        padding: 6px 15px;
        font-size: 14px;
        line-height: initial;
        color: #919191;
        border: none;
        font-weight: 400;
        @media (max-width: 1700px) {
          font-size: 14px;
          padding: 6px 10px;
        }
        .action-buttons {
          .btn {
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 0px;
            padding: 6px 16px;
            font-size: 14px;

            @media (max-width: 1700px) {
              margin-left: 8px;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      &:nth-child(odd) {
        background: #f7fafc;
        border-left: 1px solid #f7fafc;
        border-right: 1px solid #f7fafc;
      }
    }
  }

  &.has-progressbar {
    tbody {
      tr {
        td {
          &:last-child {
            width: 25%;
          }
        }
      }
    }
  }
}
.green {
  .MuiBadge-badge {
    color: #62d203;
  }
}

.red {
  color: #d23c03;
}

// pagination css start
.pagination-wrapper {
  clear: both;
  margin-top: 30px;
  .page-result {
    float: left;
    // padding-top: 10px;
    margin-bottom: 0px;
  }
  .box-footer {
    // padding: 30px 0;
    clear: both;
    &:after {
      clear: both;
    }
    &:after,
    &:before {
      display: block;
      content: "";
    }
  }
  .pagination {
    li {
      display: inline-block;
      vertical-align: middle;
      &.current-page {
        a {
          background: #62d203;
          color: #fff;
        }
      }
      &:first-child,
      &:last-child {
        a {
          font-size: 27px;
        }
      }
      a {
        display: block;
        background: #fff;
        color: #a1a1a1;
        border: 0;
        box-shadow: 2px 3px 10px #7777771a;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
        margin: 0 7px;
        text-align: center;
        &:hover,
        &:focus {
          background: #62d203;
          color: #fff;
        }
      }
    }
  }
}

// accordian css start
.tab-content-view {
  .MuiTabs-root {
    min-height: auto;
    .MuiTab-root {
      margin: 0 8px 0px;
      padding: 0 12px 4px;
      min-width: auto;
      min-height: auto;
      font-family: inherit;
      font-size: 18px;
      text-transform: initial;
      &:first-of-type {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
      }
      &.Mui-selected {
        color: #333;
      }
    }
    .MuiTabs-indicator {
      height: 3px;
    }
  }
  .MuiBox-root {
    padding-left: 0;
    padding-right: 0;
  }
}

.tab-accordion-view {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  .MuiExpansionPanelDetails-root {
    padding: 0;
  }
  .MuiPaper-root {
    box-shadow: 0px 2px 15px #0000001a;
  }
  .MuiExpansionPanelSummary-root {
    padding: 10px 0 10px 15px;
    &.Mui-expanded {
      min-height: 48px;
    }

    .MuiExpansionPanelSummary-content {
      margin: 0;
    }
  }
  .accordion-title {
    color: #333;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1;
    // @media (max-width: 1700px) {
    //   font-size: 21px;
    // }
    span {
      vertical-align: middle;
      &.acc-title {
        padding-left: 10px;
      }
    }
    .collapse-icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      border: 2px solid #333;
      border-radius: 50%;
      position: relative;
      @media (max-width: 1300px) {
        width: 24px;
        height: 24px;
      }
      span {
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        border: 1px solid #333;
        transition: 0.4s all ease-in-out;
        &:nth-child(2) {
          height: 1px;
          width: 11px;
          @media (max-width: 1300px) {
            width: 10px;
          }
        }
      }
    }
  }

  .MuiExpansionPanelSummary-content {
    &.Mui-expanded {
      margin: 0;
      .accordion-title {
        .collapse-icon {
          span {
            &:nth-child(1) {
              height: 0px;
              transition: 0.4s all ease-in-out;
            }
          }
        }
      }
    }
  }
}
// accordian css end

// calendar tab css start
.tab-content-view {
  position: relative;
  margin-top: 25px;
  @media (max-width: 1360px) {
    margin-top: 15px;
  }
  .MuiTabs-root {
    min-height: auto;
    .MuiTab-root {
      margin: 0 8px 0px;
      padding: 0 12px 4px;
      min-width: auto;
      min-height: auto;
      font-family: "Quicksand", sans-serif;
      font-size: 18px;
      text-transform: initial;
      &:first-of-type {
        margin-left: 0;
        // margin-right: 0;
        padding-left: 0;
      }
      &.Mui-selected {
        color: #333;
      }
    }
    .MuiTabs-indicator {
      height: 2px;
      border-radius: 5px;
    }
  }
  .MuiBox-root {
    padding: 20px 0 0;
  }
  .MuiTab-wrapper {
    position: relative;
  }
  &.calendar-tabs {
    .MuiTabs-root {
      text-align: center;
      .MuiTabs-centered {
        background: #f2f2f2 0% 0% no-repeat padding-box;
        border: 1px solid #d9d9d9;
        border-radius: 100px;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        .MuiTab-wrapper {
          font-size: 18px;
        }
      }
      .MuiTab-root {
        padding: 5px 20px;
        margin: 2px;
        &:first-of-type {
          padding: 5px 20px;
          margin: 2px;
        }
        &.Mui-selected {
          color: white;
          background: #62d203;
          border-radius: 100px;
        }
      }
      .MuiTabs-indicator {
        height: 0px;
      }
    }
  }
  &.task-tab {
    .MuiTabs-root {
      padding-right: 150px;
      .MuiTab-root {
        @media (max-width: 1700px) {
          margin: 0 3px 0px;
          padding: 0 7px 4px;
        }
        @media (max-width: 1360px) {
          font-size: 15px;
        }
      }
    }
  }
  &.reminder-tabs {
    margin-top: 25px;
    border-radius: 0;
    padding: 20px;
    background: #fafbfd 0% 0% no-repeat padding-box;
    border: 1px solid #f4f5f6;
    border-radius: 5px;
    .MuiTabs-root {
      .MuiTabs-centered {
        background: transparent;
        border: none;
        // border: 1px solid #62D203;
        // background: #62D203;
        // color: white;
      }
      .MuiTab-root {
        border-radius: 5px;
        background: transparent;
        color: #919191;
        border: 1px solid #919191;
        height: 50px;
        width: 125px;
        margin: 0 12px !important;
        opacity: 1;
        .MuiTab-wrapper {
          font-size: 16px;
          line-height: 16px;
        }
        &.Mui-selected {
          border-radius: 5px;
          background-color: #62d203;
          color: white;
          border: 1px solid #62d203;
        }
      }
    }
  }
}
// calendar task start
.event-box {
  padding: 15px;
  border: 1px solid transparent;
  border-left: 4px solid #ff9800;
  box-shadow: 0px 2px 15px #0000001c;
  height: 100%;
  position: relative;
  transition: 0.6s;
  &.box-new {
    .event-info {
      .event-meta {
        span {
          font-family: "Montserrat", sans-serif;
          &.meta-icon {
            min-width: 98px;
            display: inline-block;
          }
          &.meta-info {
            width: calc(100% - 98px);
          }
        }
      }
    }
  }
  .event-inner-wrapper {
    height: 100%;
    padding-bottom: 80px;
    position: relative;
  }
  .event-overview {
    h4 {
      display: inline-block;
      vertical-align: top;
    }
    span {
      display: inline-block;
      vertical-align: top;
      float: right;
      &.view-more {
        color: #919191;
        svg {
          height: 30px;
          text-align: right;
          width: auto;
        }
      }
    }
  }
  h4 {
    font-weight: 600;
    font-size: 22px;
  }
  &.category-task,
  h4 {
    border-left-color: #d23c03;
    color: #d23c03;
  }
  &.category-medication {
    border-left-color: #673bb7;
    h4 {
      color: #673bb7;
    }
  }
  &.category-appointment {
    border-left-color: #ff9800;
    h4 {
      color: #ff9800;
    }
  }
  &.category-facility {
    border-left-color: #53afc6;
    h4 {
      color: #53afc6;
    }
  }
  .event-info {
    margin-bottom: 10px;
    .event-meta {
      margin-bottom: 8px;
      span {
        vertical-align: top;
        color: #333;
        img {
          width: 20px;
          height: 20px;
        }
        &.meta-info {
          padding-left: 10px;
          color: #919191;
          display: inline-block;
          width: calc(100% - 30px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .event-action-btn {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    &.has-assignee-footer {
      h5 {
        color: #000;
        font-size: 18px;
        margin-bottom: 5px;
      }
      .assignee-footer-wrap {
        display: block;
        .assignee-detail {
          display: inline-block;
          width: calc(100% - 90px);
          .assignee-avatar {
            display: inline-block;
            vertical-align: middle;
            img {
              width: 40px;
              border-radius: 50%;
              height: 40px;
            }
          }
          .assignee-name {
            display: inline-block;
            vertical-align: middle;
            padding-left: 12px;
            font-size: 18px;
            color: #333;
          }
        }
        .action-button {
          display: inline-block;
        }
      }
    }
    .action-button {
      display: inline-block;
      padding-left: 10px;
      .btn {
        padding: 7px 16px;
      }
    }
  }
  &:hover {
    box-shadow: 0px 8px 15px #62d2031c;
    border: 1px solid #62d203;
    border-left-width: 4px;
    h4 {
      color: #62d203;
    }
  }
}

// modal css start
.davita-dialog {
  // .dialog-title{
  //     h6{

  //     }

  // }
  .MuiDialog-paperScrollBody {
    width: 100%;
  }
  .MuiDialogTitle-root {
    box-shadow: 0px 3px 10px #0000001a;
    padding: 12px 15px;
    h2 {
      font-size: 18px;
      color: #333333;
      font-family: "Quicksand", sans-serif;
      //   display: inline-block;
    }
    .close-action-header {
      float: right;
      margin-top: -9px;
      color: #333333;
      right: -10px;
      &:hover,
      &:focus {
        background: transparent;
      }
    }
  }
  .form-group {
    margin-bottom: 2px;
    label {
      color: #333333;
      font-weight: normal;
    }
    .form-control {
      border: 1px solid #f1f1f1;
      border-radius: 5px;
      background: #fafbfd 0% 0% no-repeat padding-box;
      margin-top: 0;
      font-weight: 400;
      height: 40px;
      font-size: 14px;
      .MuiInput-formControl {
        font-family: "Montserrat", sans-serif;
        height: 100%;
      }
      .MuiNativeSelect-root {
        margin: 10px 0 !important;
        height: 100%;
        padding: 0 !important;
        padding: 0 15px !important;
        color: #919191;
        font-weight: 400;
        &:focus {
          background: #fafbfd 0% 0% no-repeat padding-box !important;
        }
      }
    }
  }
  .MuiDialogContent-root {
    padding: 20px 25px 15px;
    padding-bottom: 20px;
    .user-details {
      text-align: center;
      margin-bottom: 0px;
      img {
        box-shadow: 0px 3px 10px #00000029;
        border: 3px solid #ffffff;
        border-radius: 50%;
        width: 80px;
        height: 80px;
      }
      h5 {
        font-size: 16px;
        font-weight: normal;
        color: #333;
        padding-top: 5px;
      }
    }
    &.has-body-scroll {
      height: 600px;
      overflow: auto;
      margin-bottom: 20px;
      padding-bottom: 0;
    }
  }
  .MuiDialogActions-root {
    padding: 0 30px 30px;
    .modal-action {
      .MuiGrid-grid-xs-6 {
        &:first-of-type {
          .btn {
            float: right;
            margin-top: 0px;
          }
        }
      }
    }
  }
}

.davita-breadcrumb {
  list-style-type: none;
  display: block;
  padding: 0px 0 10px 0;
  li {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    margin-right: 20px;
    color: #333333;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
    font-weight: 300;
    a {
      cursor: pointer;
    }
    &:after {
      position: absolute;
      right: -5px;
      top: -2px;
      height: 20px;
      width: 10px;
      font-family: FontAwesome;
      content: "\f178";
      font-size: 16px;
      color: #919191;
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
}

// dailyview badge design

.table-badge {
  .MuiBadge-badge {
    height: 25px;
    width: 60px;
    font-size: 12px;
    border-radius: 15px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    // @media only screen and (max-width: 1600px) {
    //   height: 25px;
    //   width: 50px;
    //   font-size: 14px;
    // }
  }
  .MuiBadge-anchorOriginTopRightRectangle {
    right: auto;
    left: 0;
    transform: scale(1) translate(0, -50%);
  }
}

.red-badge {
  .MuiBadge-badge {
    background-color: #d23c03;
  }
}
.orange-badge {
  .MuiBadge-badge {
    background-color: #ff9800;
  }
}
.green-badge {
  .MuiBadge-badge {
    background-color: #62d203;
  }
}

.waring-icon {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
}
.has-auto-height {
  height: auto !important;
}
.form-group {
  &.form-switch {
    display: block;
    margin-bottom: 0px;
    &.mt-35 {
      margin-top: 25px;
    }
    .form-switch-wrapper {
      width: 84%;
      @media (max-width: 1700px) {
        max-width: 86%;
      }
      @media (max-width: 1360px) {
        max-width: 92%;
      }
    }
    .switch-label {
      display: inline-block;
    }
    .switch {
      display: inline-block;
      float: right;
    }
  }
  .is-textareainput {
    height: auto !important;
    resize: none;
  }
  &.form-picker {
    .MuiIconButton-labe {
      > img {
        width: 18px;
      }
    }
    .MuiFormControl-root {
      width: 100%;
      .MuiInputBase-root {
        &:before,
        &:after {
          display: none;
        }
      }
      .MuiInputAdornment-positionEnd {
        margin-left: 0;
      }
      .MuiInput-formControl {
        padding: 0 0 0 15px !important;
        .MuiButtonBase-root {
          border-left: 1px solid #f1f1f1;
          border-radius: 0 5px 5px 0;
          margin-right: 6px;
          display: block;
          // padding: 15px;
          padding: 10px;
        }
      }
    }
  }
  &.has-action {
    .form-control {
      cursor: pointer;
      &:hover {
        color: #62d203;
        transition: 0.3s;
      }
    }
  }
}
// modal css end

// attachment css start
.attachment-block .add-icon {
  display: inline-block;
  width: 100%;
  min-height: 150px;
  line-height: 38px;
  margin: 5px;
  transition: 0.4s all ease-out;
  -webkit-transition: 0.4s all ease-out;
  -moz-transition: 0.4s all ease-out;
  -ms-transition: 0.4s all ease-out;
  position: relative;
  text-align: center;
  background: #fafbfd 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}
.attachment-block .add-icon:focus {
  background: transparent;
  border: 1px solid #656565;
}
.attachment-block .add-icon .add-icon-upload {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  z-index: 9;
}
.attachment-block .add-icon img {
  padding-top: 30px;
}
.attachment-block .file-size {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 44%;
  line-height: 18px;
  color: #333333;
  font-size: 16px;
}
.attachment-detail {
  margin-top: 10px;
  display: inline-block;
  margin-right: 10px;
  > span {
    display: block;
    &.img {
      width: 114px;
      height: 114px;
      background: #919191 0% 0% no-repeat padding-box;
      border-radius: 5px;
      text-align: center;
      padding: 15px;
      margin-bottom: 5px;
      line-height: 145px;
      position: relative;
      @media (max-width: 1360px) {
        width: 100px;
        height: 100px;
        padding: 14px;
        line-height: 130px;
      }
      .icon-close {
        position: absolute;
        top: 9px;
        right: 5px;
        height: auto;
        line-height: 0;
        cursor: pointer;
      }
    }
    &.name {
      font-size: 12px;
      color: #919191;
      font-weight: 300;
    }
  }
}
// photo upload image start
.patient-img-upload {
  width: 135px;
  height: 135px;
  margin: 10px auto 20px;
  position: relative;
  @media (max-width: 1700px) {
    margin: 10px auto 30px;
  }
  .img {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 3px;
    // border: 3px solid #FFFFFF;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .upload-icon {
    width: 49px;
    overflow: hidden;
    height: 49px;
    position: absolute;
    text-align: center;
    display: block;
    bottom: -10px;
    // top: 50%;
    right: -20px;
    // transform: translateY(-50%);
    > span {
      background: #62d203;
      border: 3px solid #ffffff;
      border-radius: 50%;
      color: #fff;
      line-height: 49px;
      display: block;
      width: 100%;
      height: 100%;
    }
    .file-uploader {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
      overflow: hidden;
    }
  }
}
// edit delete icon form field start
.phone-field {
  position: relative;
  .form-control {
    padding-right: 66px;
  }
  .icon-list {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    right: 3%;
    // @media(max-width:1700px){
    //     right: 17%;
    // }
    // @media(max-width:1360px){
    //     right: 11%;
    // }
    > span {
      margin-right: 13px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  // &:after {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     height: 10px;
  //     width: 10px;
  //     right: 23%;
  //     height: 100%;
  //     border-left: 1px solid #F1F1F1;
  // }
}

.text-center {
  text-align: center;
}

// davita calendar start
.davita-calendar-view {
  .alg-center {
    align-self: center;
  }
  .toolbar-container {
    padding: 10px 0 20px 0;
    .calendar-main-action {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      .action-element {
        display: inline-block;
        vertical-align: top;
        &.action-label {
          padding: 0 10px;
          label {
            color: #333;
            font-size: 24px !important;
            font-weight: 600 !important;
          }
        }
        .calendar-btn {
          font-size: 30px;
          font-weight: 600;
          color: #333;
          padding: 0 15px;
          line-height: 1;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .rbc-month-view {
    border-color: #0000001a;
    border-radius: 3px;
    .rbc-month-header {
      background: #fbfbfb;
      .rbc-header {
        color: #333;
        font-weight: 600;
        padding: 10px 0;
        font-size: 18px;
        border-color: #0000001a;
      }
    }
    .rbc-month-row {
      overflow: visible;
      .rbc-row-bg {
        overflow: visible;
        z-index: 9;
        .rbc-day-bg {
          border-color: #0000001a;
          transition: 0.6s;
          background: transparent;
          &:hover {
            box-shadow: 0px 10px 30px #0000001f;
            cursor: pointer;
          }
        }
        .rbc-off-range-bg {
          background: transparent;
        }
      }
      .rbc-row-content {
        .rbc-row {
          .rbc-date-cell {
            color: #333;
            font-size: 18px;
            font-weight: 500;
            padding: 12px 12px 0 0;
            &.rbc-off-range {
              color: #919191;
            }
            &.rbc-current {
              a {
                color: #62d203;
                font-weight: 500;
                border: 2px solid #62d203;
                border-radius: 50%;
                padding: 4px;
                width: 35px;
                height: 35px;
                display: inline-block;
                line-height: 1.4;
                text-align: center;
              }
            }
          }
          .rbc-row-segment {
            .rbc-event {
              font-weight: 600;
              position: relative;
              background-color: transparent;
              margin-left: 10px;
              margin-bottom: 3px;
              @media (max-width: 1300px) {
                margin-left: 6px;
              }
              .rbc-event-content {
                padding-left: 15px;
                font-size: 14px;
                @media (max-width: 1300px) {
                  padding-left: 9px;
                }
              }
              &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 12px;
                height: 12px;
                opacity: 1;
                display: block;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: 1300px) {
                  width: 9px;
                  height: 9px;
                }
              }
              &.category-task {
                color: #d23c03;
                &::before {
                  background: #d23c03;
                }
              }
              &.category-medication {
                color: #673bb7;
                &::before {
                  background: #673bb7;
                }
              }
              &.category-appointment {
                color: #ff9800;
                &::before {
                  background: #ff9800;
                }
              }
              &.category-facility {
                color: #53afc6;
                &::before {
                  background: #53afc6;
                }
              }
            }
          }
        }
      }
    }
  }
}
.calendar-filter {
  display: inline-block;
  .form-group {
    padding-right: 15px;
    display: inline-block;
    padding-top: 8px;
    margin-bottom: 8px;
    label {
      color: #333;
      font-weight: 500 !important;
    }
  }
  &.has-year-filter {
    .action-element {
      display: inline-block;
      vertical-align: middle;
      .form-control {
        height: auto;
        select {
          padding: 8px 56px 6px 10px !important;
          margin: 0px !important;
          @media (max-width: 1360px) {
            padding: 8px 32px 6px 10px !important;
          }
        }
      }
    }
    .page-action-button {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
// davita calendar start
// fluidity-checkbox start
.fluidity-checkbox.checkbox-task input:checked ~ .checkmark {
  background-color: #d23c03;
  border-color: #d23c03;
}

.fluidity-checkbox.checkbox-medication input:checked ~ .checkmark {
  background-color: #673bb7;
  border-color: #673bb7;
}

.fluidity-checkbox.checkbox-appintment input:checked ~ .checkmark {
  background-color: #ff9800;
  border-color: #ff9800;
}

.fluidity-checkbox.checkbox-facility input:checked ~ .checkmark {
  background-color: #53afc6;
  border-color: #53afc6;
}
// fluidity-checkbox end

.p-25 {
  padding: 25px;
}

.calendar-medication-action {
  margin-top: 10px;
  .btn {
    margin-right: 10px;
  }
}
.calendar-task-wrapper {
  .task-user-status {
    display: block;
    img {
      display: inline-block;
      border-radius: 50%;
      height: 48px;
      width: 48px;
      vertical-align: middle;
    }
    h5 {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      color: #919191;
      font-size: 16px;
      padding-left: 20px;
      font-weight: normal;
    }
  }
}
.task-legend {
  ul {
    list-style-type: none;
    li {
      float: left;
      padding-left: 20px;
      position: relative;
      margin-left: 30px;
      font-weight: 500;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #d23c03;
        content: "";
      }
      &.legend-task {
        color: #d23c03;
        &:before {
          background-color: #d23c03;
        }
      }
      &.legend-medication {
        color: #673bb7;
        &:before {
          background-color: #673bb7;
        }
      }
      &.legend-appointment {
        color: #ff9800;
        &:before {
          background-color: #ff9800;
        }
      }
      &.legend-facility {
        color: #53afc6;
        &:before {
          background-color: #53afc6;
        }
      }
    }
  }
}

// scrollbar

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #62d203;
  outline: 1px solid #62d203;
  border-radius: 4px;
}

// dashboard facility view

.mt-1 {
  margin-top: 10px;
}

.facility-info {
  &.set_default {
    box-shadow: 0px 0px 20px #00000012;
    border: 1px solid #62d203;
    .page-action-button {
      .btn-fill {
        &.set-default {
          background-color: transparent;
          color: #62d203;
          padding: 6px 12px 6px 24px !important;
          border: 1px solid #62d203;
          &::before {
            content: "";
            background-image: url(../images/check.svg);
            width: 10px;
            height: 8px;
            background-size: 10px 8px;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  border: 1px solid #919191;
  border-radius: 3px;
  padding: 10px 15px 70px 15px;
  display: block;
  position: relative;
  height: 100%;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 20px #00000012;
    border: 1px solid #62d203;
  }
  h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 0;
    line-height: 30px;
    cursor: pointer;
    &:hover {
      color: #62d203;
    }
    @media only screen and (max-width: 1600px) {
      font-size: 20px;
      line-height: 26px;
    }
    @media only screen and (max-width: 1400px) {
      font-size: 16px;
    }
  }
  p {
    font-size: 16px;
    line-height: 22px;
    color: #919191;
    margin-bottom: 5px;
    @media only screen and (max-width: 1600px) {
      font-size: 14px;
    }
    @media only screen and (max-width: 1400px) {
      font-size: 12px;
      line-height: 20px;
      margin: 0;
    }
  }
  .facility-address {
    &.mt-1 {
      @media only screen and (max-width: 1600px) {
        margin: 0;
      }
    }
    a {
      @media only screen and (max-width: 1600px) {
        font-size: 14px;
      }
      @media only screen and (max-width: 1400px) {
        font-size: 12px;
      }
    }
  }
  .page-action-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    bottom: 15px;
    right: 15px;
    .btn-fill {
      display: inline-block;
      font-size: 14px;
      margin-left: 10px;
      padding: 6px 17px !important;
      text-transform: none;
      letter-spacing: 0.28px;
      position: relative;
      @media only screen and (max-width: 1600px) {
        font-size: 12px;
        line-height: 12px;
      }
      &.save {
        padding: 6px 23px !important;
        @media only screen and (max-width: 1400px) {
          padding: 6px 16px !important;
        }
      }
    }
  }
  .facility-contact {
    &.mt-3 {
      margin-top: 15px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 43%;
        @media only screen and (max-width: 1600px) {
          flex-basis: 48%;
        }
        &.fax {
          a {
            color: #919191;
          }
        }
        h4 {
          font-size: 18px;
          @media only screen and (max-width: 1600px) {
            font-size: 16px;
            line-height: 23px;
          }
          @media only screen and (max-width: 1400px) {
            font-size: 13px;
          }
          &:hover {
            color: #333333;
          }
        }
        a {
          font-size: 16px;
          @media only screen and (max-width: 1600px) {
            font-size: 14px;
          }
          @media only screen and (max-width: 1600px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.MuiPickersModal-dialogRoot {
  .MuiPickersModal-dialog {
    .MuiPickersToolbar-toolbar,
    .MuiPickersClockPointer-pointer,
    .MuiPickersClock-pin,
    .MuiPickersClockNumber-clockNumberSelected {
      background-color: #62d203 !important;
    }
    .MuiPickersDay-daySelected {
      background-color: #62d203 !important;
    }
  }
  .MuiPickersClockPointer-thumb {
    border: 14px solid #62d203 !important;
  }
  .MuiButton-textPrimary {
    color: #62d203 !important;
  }
}

/*custom switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-track {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch-track:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #919191;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .switch-track {
  background-color: #edffde;
  border-color: #62d203;
}
input:focus + .switch-track {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .switch-track:before {
  -webkit-transform: translateX(28);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
  background-color: #62d203;
  border-color: #62d203;
}
.switch-track.round {
  border-radius: 34px;
  border: 1px solid #f3f3f3;
  background: #fafbfd;
}
.switch-track.round:before {
  border-radius: 50%;
}
/* custom switch end*/

// delete model
.delete_model {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h4 {
    font-size: 24px;
    text-transform: none;
    line-height: 30px;
    margin-top: 10px;
  }
  p {
    font-size: 18px;
    color: #919191;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
  }
}
.wid-80 {
  max-width: 84%;
  @media (max-width: 1700px) {
    max-width: 86%;
  }
  @media (max-width: 1360px) {
    max-width: 92%;
  }
}

.btn-ok {
  padding: 8px 40px !important;
  @media only screen and (max-width: 1700px) {
    font-size: 14px;
    padding: 6px 36px !important;
  }
  @media only screen and (max-width: 1360px) {
    font-size: 13px;
    padding: 6px 31px !important;
  }
}

// medication start
.report-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  text-align: center;
  padding: 30px 10px 40px;
  height: 100%;
  position: relative;
  h5 {
    color: #333333;
    font-weight: 700;
    padding-bottom: 25px;
    margin-bottom: 15px;
  }
  .btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }
}

// btn-grey

.btn-delete-fill {
  border-color: #919191;
  background-color: #919191;
  color: white;
  &:hover,
  &:focus {
    border-color: #919191;
    background: #919191;
    box-shadow: 0px 5px 10px #3333334d;
  }
}

.task-followers {
  label {
    display: inline-block;
  }
  .add-task-follower {
    color: #62d203;
    font-weight: 500;
    cursor: pointer;
  }
  .form-control {
    display: block;
    min-height: 110px;
    height: 100%;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        float: left;
        margin-right: 16px;
        margin-bottom: 10px;
        position: relative;
        .follower-image {
          display: inline-block;
          float: left;
          vertical-align: middle;
          img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            padding-top: 2px;
          }
        }
        .follower-name {
          color: #919191;
          vertical-align: middle;
          padding-left: 8px;
        }
        &:after {
          content: ",";
          display: block;
          position: absolute;
          bottom: 9px;
          right: -3px;
        }
        &:last-of-type {
          &:after {
            content: "";
          }
        }
      }
    }
  }
}

.text-default {
  text-transform: initial !important;
  &.no-event {
    pointer-events: none;
    input:checked ~ .checkmark {
      background: #919191;
      border-color: #919191;
    }
  }
}
.patient-info-sec {
  .form-group {
    margin-bottom: 15px;
    label {
      font-size: 16px;
      color: #333;
      margin-bottom: 8px;
      text-transform: capitalize;
      @media (max-width: 1700px) {
        font-size: 15px;
      }
    }
    .form-control {
      max-width: 84%;
      @media (max-width: 1700px) {
        max-width: 86%;
      }
      @media (max-width: 1360px) {
        max-width: 92%;
      }
    }
    .phone-field {
      position: relative;
      .form-control {
        padding-right: 66px;
      }
      .icon-list {
        position: absolute;
        top: 56%;
        transform: translateY(-50%);
        right: 18%;
        @media (max-width: 1700px) {
          right: 17%;
        }
        @media (max-width: 1360px) {
          right: 11%;
        }
        > span {
          margin-right: 13px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        height: 10px;
        width: 10px;
        right: 23%;
        height: 100%;
        border-left: 1px solid #f1f1f1;
      }
      &.multiple-action {
        &:after {
          display: none;
        }
      }
    }
  }
  &.has-fullwidth-from {
    .form-group {
      .form-control {
        max-width: 100%;
      }
      .phone-field {
        position: relative;
        .form-control {
          padding-right: 10%;
        }
        .icon-list {
          position: absolute;
          top: 56%;
          transform: translateY(-50%);
          right: 3%;
          @media (max-width: 1700px) {
            right: 3%;
          }
          @media (max-width: 1360px) {
            right: 3%;
          }
        }
        &:after {
          right: 9%;
        }
      }
    }
  }
  .btn-sec {
    margin: 10px 0 25px;
    // @media (max-width: 1700px) {
    //   margin: 10px 0 50px;
    // }
  }
}
.MuiInput-root,
.MuiInputBase-input {
  font-size: 14px !important;
}

.mt-35-dsubmit {
  margin-top: 35px;
}

// message view

.message {
  &.main-wrapper {
    padding: 15px 20px;
  }
  .contact-list {
    ul {
      list-style-type: none;
      // height: calc(100vh - 380px);
      height: calc(100vh - 314px);
      overflow-y: auto;
      @media (max-width: 1700px) {
        // height: calc(100vh - 380px);
        height: calc(100vh - 318px);
      }
      @media (max-width: 1360px) {
        height: calc(100vh - 315px);
      }
      li {
        display: block;
        &.active {
          .contact-detail {
            background: #f7fafc;
          }
        }
        .contact-detail {
          display: block;
          padding: 10px 20px 0px 0;
          position: relative;
          cursor: pointer;
          &:before {
            position: absolute;
            bottom: 0px;
            width: 75px;
            height: 1px;
            background-color: #dddfe1;
            left: 0;
            content: "";
          }
          > span {
            display: inline-block;
            vertical-align: middle;
            &.contact-img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              box-shadow: 0px 3px 10px #00000029;
              // @media(max-width:1700px){
              //   width: 55px;
              //   height: 55px;
              // }
              img {
                width: 100%;
                height: 100%;
              }
            }
            &.message-detail {
              width: calc(100% - 55px);
              padding-left: 15px;
              padding-right: 13px;

              > span {
                display: block;
                font-size: 16px;
                color: #919191;
                &.name {
                  font-family: "Quicksand", sans-serif;
                  font-size: 18px;
                  text-transform: capitalize;
                  font-weight: 500;
                  width: 100%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  color: #333333;
                  @media (max-width: 1700px) {
                    font-size: 16px;
                  }
                }
                &.message-content {
                  font-size: 16px;
                  width: 100%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  @media (max-width: 1700px) {
                    font-size: 15px;
                  }
                }
              }
            }
          }
          .time-stamp {
            text-align: right;
            color: #919191;
            font-size: 14px;
            display: block;
            margin-top: -4px;
          }
          .msg-badge {
            width: 26px;
            height: 26px;
            background: #62d203;
            color: #fff !important;
            text-align: center;
            border-radius: 50%;
            font-size: 12px !important;
            line-height: 26px;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .message-tab {
    .MuiTabs-root {
      padding: 0;
      .MuiTab-root {
        padding-right: 35px;
        font-size: 16px;
        margin: 0 8px 0px 0;
        .badge {
          position: absolute;
          width: 26px;
          height: 26px;
          background: #919191;
          border-radius: 50%;
          color: #fff;
          font-size: 12px;
          text-align: center;
          line-height: 26px;
          right: -30px;
        }
      }
    }
  }
}

/*********************************************************/
.notification-sec {
  .clear-heading {
    padding-right: 19px;
    .clear-all {
      font-size: 14px;
      color: #919191;
      font-weight: 400;
      width: 60px;
      display: inline-block;
      text-align: right;
      cursor: pointer;
    }
  }
  &.show {
    display: block;
  }
  &.notification-list {
    position: absolute;
    box-shadow: 0px 5px 30px #0000001a;
    border-radius: 5px;
    background-color: #fff;
    max-width: 450px;
    padding: 12px 0 0;
    right: 190px;
    top: 75px;
    display: none;
    z-index: 9999;
    &.open {
      display: block;
    }
    ul {
      height: 321px;
      overflow-y: auto;
    }
  }
  .notification-head {
    padding: 0 15px;
    border-bottom: 1px solid #dddfe1;
    h2 {
      font-size: 18px;
      color: #333;
      font-weight: 500;
      display: inline-block;
      width: calc(100% - 60px);
    }
    .clear-all {
      font-size: 14px;
      color: #919191;
      font-weight: 400;
      width: 60px;
      display: inline-block;
      text-align: right;
      cursor: pointer;
    }
  }
  ul {
    list-style-type: none;
    padding-top: 0;
    li {
      display: block;
      padding: 10px 0px 10px 6px;
      border-bottom: 1px solid rgba(145, 145, 145, 0.2);
      position: relative;
      margin: 0 15px;
      &:before {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #62d203;
        top: 16px;
        left: -8px;
        opacity: 0;
      }
      &.new-notification {
        &:before {
          opacity: 1;
        }
        .noti-content {
          color: #333333;
        }
      }
      .noti-content {
        font-size: 15px;
        color: #919191;
        font-weight: 300;
        padding-right: 25px;
        cursor: pointer;
        display: block;
        p {
          margin-bottom: 2px;
          > span {
            font-weight: 500;
            color: #62d203;
          }
        }
        .timestamp {
          font-size: 12px;
          color: #919191;
          display: block;
        }
      }
      .close-icon {
        position: absolute;
        right: 4px;
        top: 10px;
        opacity: 0.6;
        img {
          filter: invert(57%) sepia(0%) saturate(2916%) hue-rotate(106deg) brightness(100%) contrast(95%);
        }
      }
    }
    &.page-list {
      li {
        padding: 15px 0px 15px 10px;
        &:before {
          top: 22px;
        }
        .noti-content {
          padding-right: 40px;
          p {
            display: inline-block;
            width: calc(100% - 150px);
          }
          .timestamp {
            width: 150px;
            text-align: right;
            display: inline-block;
          }
        }
        .close-icon {
          top: 17px;
        }
      }
    }
  }
  .show-all {
    padding: 15px 15px;
    .show-all-link {
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      display: inline-block;
      vertical-align: middle;
      width: calc(100% - 20px);
      margin-bottom: 0;
      &:hover {
        color: #62d203;
      }
    }
    span {
      display: inline-block;
      width: 20px;
      vertical-align: middle;
    }
  }
}

// chart
.chart-wrapper {
  margin-top: 40px;
}

// approvals

.approve {
  .container-card {
    .page-title {
      &::after {
        height: 0;
      }
    }
  }
}


// settings
.setting-sec{
  .tab-content-view{
    margin-top: 0;
  }
}
.setting-option{
  max-width:40%;
  @media(max-width: 1360px){
    max-width: 50%;
  }
  .option-block{
    margin-bottom: 22px;
    .input-sec{
      .radio-btn {
        display: inline-block;
        width: 24px;
        padding-right: 6px;
        height: 24px;
        vertical-align: middle;
        padding-top: 4px;
      }
      .input-area {
        display: inline-block;
        padding: 0 22px 0 15px;
        vertical-align: middle;
        width: calc(100% - 24px - 116px);
      }
      .button-sec {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}