.app-header{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 15px #0000001A;
    padding:10px 15px;
    margin-left: 245px;
    display: inline-block;
    width: calc(100% - 245px);
    position: relative;
    z-index: 11;
    // @media(max-width:1360px){
    //     margin-left: 260px;
    //     width: calc(100% - 260px);
    //   }
    .nav-bar{
        text-align: right;
        .menu-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            cursor: pointer;
        }
        .searchbar {
            position: relative;
            margin-right: 50px;
            
            display: inline-block;
            vertical-align: middle;
            .form-control{
                background: #F6F6F6 0% 0% no-repeat padding-box;
                border-radius: 100px;
                width: 300px;
                height: 40px;
                padding-left: 40px;
                font-size: 16px;
                border: transparent;
            }
            >span{
                position: absolute;
                top: 50%;
                width: 18px;
                height: 22px;
                left:15px;
                transform: translateY(-50%);
            }
        }
    }
    .navbar-action{
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        li{
            display: inline-block;
            vertical-align: middle;
            margin-right: 13px;
            .icon{
                display: inline-block;
                position: relative;
                height: 18px;
                vertical-align: middle;
                width: 18px;
                img{
                    width: 100%;
                }
                .new-noti{
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 10px;
                    background: #62D203;
                    top: -3px;
                    right: -3px;
                }
            }
            .user-profile{
                .user-img{
                    display: inline-block;
                    height: 38px;
                    width: 38px;
                    border-radius: 50%;
                    vertical-align: middle;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 0px 0px 6px #00000029;
                    padding: 2px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .user-name{
                    font-size: 16px;
                    font-weight: 400;
                    color: #333;
                    padding-left: 11px;
                }
            }
        }
    }
}