.foo-App {
    position: fixed;
    bottom: 0;
    width: calc(100% - 285px);
    margin-left: 285px;
    text-align: center;
    background: #fff;
    padding: 19px 15px;
    p{
        margin: 0;
        font-size: 14px;
        font-family:  'Quicksand', sans-serif;
        span{
            font-weight: 500;
            color: #62D203;
        }
    }
}