.app{
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width: 245px;
    height: 100vh;
    position: fixed;
    top: 0;
    // @media(max-width: 1360px){
    //     width: 260px;
    // }
}
.logo{
    background: #fff;
    padding: 13px 5px;
    a{
        font-size: 24px !important;
        line-height: 1.42;
    }
}
.sidebar-menu{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    // box-shadow: 1px 1px 15px #0000001A;
    padding-top: 0px;
    height: calc(100vh - 63px);
    overflow-y: auto;
    li{
        a{
            display: block;
            padding: 12px 15px;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            position: relative;
            font-family: 'quicksand',sans-serif;
            &::before{
                position: absolute;
                content: '';
                height: 100%;
                width: 3px;
                box-shadow: 0px 10px 30px #0000001A;
                background-color: transparent;
                top: 0;
                left: 0;
            }
            .icon{
                display: inline-block;
                padding-right: 10px;
                vertical-align: middle;
            }
            .caret{
                position: absolute;
                right: 10px;
            }
        }
        &.active, &:hover{
            a{
                background: #F7FAFC;
                color: #62D203;
                img{
                    filter: invert(61%) sepia(85%) saturate(468%) hue-rotate(47deg) brightness(92%) contrast(112%);
                }
                &:before{
                    background: #62D203;
                }
            }
        }
        .submenu{
            display: none;
            li{
                a{
                    color: #919191;
                    padding: 5px 0 10px 50px;
                    &:before{
                        display: none;
                    }
                }
            }
        }
        &.active{
            .caret{
                transform: rotate(90deg);
            }
            .submenu{
                list-style-type: none;
                li{
                    &.active, &:hover{
                        a{
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}
.logo-sm{
    display: none;
}